mat-toolbar {
    margin-bottom: 20px;
}

nav {
    a {
        padding: 14px;
        text-decoration: none;
    }
    a.active {
        background-color: #a9dc4a;
    }
}

.header-row {
    width: 100%;
}
