<input type="text" [(ngModel)]="title">
{{ title }}

<input type="text" [(ngModel)]="power">
{{ power | exponential }}

<div *ngIf = "title === 'div'">
  This is a div
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'san'">This is san</p>
  <p *ngSwitchCase="'gonzo'">This is gonzo</p>
  <p *ngSwitchCase="'biel'">This is biel</p>
  <p *ngSwitchDefault>No match!</p>
</div>

<button (click)="addName()">Add name</button>

<ul>
  <li *ngIf="names.length === 0">There are no names</li>
  <li *ngFor="let name of names; index as i">
    {{ i }} - {{ name }}
    <button (click)="deleteName(i)">Delete name</button>
  </li>
</ul>

<div class="product-grid">
  <app-product *ngFor="let product of products"
  (productClicked)="productClicked($event)"
  [product]="product"></app-product>
</div>